<!DOCTYPE html>
html
  head
    title JenkinsBot
  body(cz-shortcut-listen="true")
    div.container
      div(style="padding: 40px 15px; text-align: center")
        <iframe src="https://webchat.botframework.com/embed/jenkinsbot?s=_4DFW4V6CHk.cwA.Ht0.2XCR-FVxTVVBFPlWLz2dkmh-kqhahjtXUCH1iuuZitc" style="height: 502px; max-height: 502px;"></iframe>
        
    script(src='/node_modules/bootstrap/dist/js/bootstrap.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')