<!DOCTYPE html>
html
  head
    title JenkinsBot
  body(cz-shortcut-listen="true")
    div.container
      div(style="padding: 40px 15px; text-align: center")
        <iframe style="height:480px; width:402px" src='https://webchat.botframework.com/embed/jenkinsbot?s=JTSx5d0NX7Y.cwA.4iY.HUVQ-UoJ7B6Wf_JnziOKJF7cl55P1a3Gg6JP0Bba3uQ'></iframe>
        
    script(src='/node_modules/bootstrap/dist/js/bootstrap.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')